@charset "utf-8";

body.tree {
    margin: 0px;
    box-sizing: border-box;
}

header.limon {
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.747);
}

.charry {
    text-decoration: none;
    color: white;
}

.charry:hover {
    color: gray;
    cursor: pointer;
  transition: all 0.5s;
}

.blackberry {
    font-family:'Times New Roman', Times, serif;
    margin-top: 50px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 25px;
}

.appletree{
    margin: 0px;
}

